# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore dataset and runs directories
E-waste_detection/
E-Waste_Dataset_7000/
runs/
detected_objects/
Phone_Battery/

# Ignore the YOLO model file
yolo11n.pt